{
  "presets": [
    "@babel/preset-env",
    ["@babel/preset-typescript", { "allowDeclareFields": true }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["babel-plugin-inline-import", {
      "extensions": [
        ".jsonld",
        ".n3",
        ".ttl",
        ".rdf"
      ]
    }]
  ],
  "env": {
    "esm": {
      "presets": [
        [
          "@babel/preset-env",
          { "modules": false }
        ]
      ] 
    },
  },
}
